.flex-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.table-container {
    width: 48%
}

.dropdown-container {
    width: 83%;
    max-height: 100px;
    overflow-y: auto;
}

.button-container {
    width: 15%
}